In [17]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In the sheet below, these are the columns:
* S.No. : Serial Number of student
* MTE (25): Mid Term Exam of 25 Marks
* Mini Project (25): (name is self explanatory)
* Total (50) = MTE + Mini Project
* ETE (50): End Term Exam of 50 Marks
* Total: Total (50) + ETE (50)

In [2]:
path = "data/IBM-313 Marks.xlsx"
table = pd.read_excel(path)
display(table)

Sheet1

    S.No.  MTE (25)  Mini Project (25)  Total (50)  ETE (50)  Total
0       1      5.00                 20       25.00      12.0  37.00
1       2     11.05                 20       31.05      26.0  57.05
2       3      8.10                 20       28.10      14.0  42.10
3       4      6.00                 10       16.00      13.0  29.00
4       5     11.35                 20       31.35      17.0  48.35
..    ...       ...                ...         ...       ...    ...
74     75     12.05                 10       22.05      20.0  42.05
75     76     12.25                 10       22.25      28.0  50.25
76     77      1.75                 10       11.75       NaN   0.00
77     78      3.00                 10       13.00       NaN   0.00
78     79      5.80                 10       15.80      12.0  27.80

[79 rows x 6 columns]

In [5]:
# MEAN

# Finding mean using numpy
x = table['Total']   # This returns you a 'Series' object.
print(np.mean(x))    

# Finding mean using pandas
print(table['Total'].mean())   # You can directly call .mean() function on the column of dataframe.

46.90632911392405
46.90632911392405

In [6]:
# MEDIAN

# Finding median using numpy
print(np.median(x))

# Finding median using pandas
print(table['Total'].median())

45.0
45.0

Unfortunately, Numpy doesn't have a mode() function. So, if we try to calculate the mode using `np.mode(x)`, we get the error:

`AttributeError: module 'numpy' has no attribute 'mode'`

So, to calculate the mode of series of numbers, you will have to use `stats` submodule from `scipy` module. 

However, in pandas, we have the .mode() functionality. It will return multiple modes if present. Example, for the above data, we see six modes because all of those value appear twice.

In [18]:
# MODE

# Using stats submodule. 
from scipy import stats
print(stats.mode(x))

# Finding mode using pandas
print(table['Total'].mode())

ModeResult(mode=array([0.]), count=array([2]))
0     0.00
1    38.00
2    39.70
3    41.00
4    42.70
5    43.50
6    48.35
Name: Total, dtype: float64